<!-- <div class="products">
    <div class="products__item-list">
        <ng-container *ngFor="let product of products">
                <div class="products__item">
                    <!-- <div class="products__item__label" [ngClass]="{'products__item__label-in-Cart' : isInCart , 'products__item__label-not-in-Cart' : !isInCart}" (click)="toggleCart()"></div> -->
                    <!-- {{product.label}}
                    <button (click)="addToCart(product)">Add to cart</button>
                </div>
        </ng-container>
    </div>
</div> --> 

