.products
{
    padding: 12px;
    background: rgb(154, 217, 154);

    &__item-list
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item
    {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 4px;
        gap: 10px;
    }

    &__label
    {
        font : 800;
        font-style: italic;
        &-not-in-cart
        {
            color:navy;
        }
        &-in-cart
        {
            color : indianred;
        }
    }
}