header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0d2eb; 
    padding: 20px 20px;
    font-size: 20px;                  
}

.navbar
{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5eaf5;
    color: #333; 
}


#add-student-btn
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: #f8f8f8; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#add-student-btn:hover 
{
    background-color: #27669d;
}

.container 
{
    text-align: center;
    margin-top: 70px;
}

table 
{
    width: 80%; 
    margin: 0 auto;
    border-collapse: collapse; 
}

th, td 
{
    padding: 10px; 
    border: 1px solid #ccc;
}

th 
{
    background-color: hsl(208, 69%, 60%); 
    color: #fff;
}

tr
{
    background-color: rgba(172, 214, 250, 0.568);
}

tr:nth-child(even) 
{
    background-color: #d5edff; 
}

.modal-container {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal-content {
   
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    width: 450px;
    padding: 1.3rem;
}

#modal-title, hr
{
    margin-bottom : 20px;
}

.form-input 
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; 
}

.form-input label 
{
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input input 
{
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}


.modal-buttons 
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

#deleteModal
 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
}

#delete-modal-content
{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px;
    text-align: center;
}

.modal-actions {
    margin-top: 20px;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
}

#confirmDeleteBtn {
    background-color: #d9534f; 
    color: white;
    margin-right: 10px;
}

#cancelDeleteBtn {
    background-color: #337ab7; 
    color: white;
}


