* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49ab7f; 
    padding: 20px 20px;
    font-size: 20px;                  
}

.navbar
{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333; 
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#add-task-btn {
    background-color: #1c6142; 
    color: #fff; 
    border: none;
    width : 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#add-task-btn:hover {
    background-color: #28742b; 
}

/*-----------------------------------------------------Left pane------------------------------------*/
.left-pane {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
}

.left-pane h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.left-pane ul {
    list-style-type: none;
}

.left-pane button {
    background-color: #49ab7f; 
    color: #fff; 
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

.left-pane button:hover {
    background-color: #45a049; 
}

.left-pane ul li {
    display: flex;
    cursor: pointer;
    margin-bottom: 30px;
}

.new-task
 {
    display: flex;
    align-items: center; 
    background-color: #d5e5d5c8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.left-pane .delete-button { 
    background-color: #ff0000a6;
    margin-left : 0px;
    color: #fff; 
    align-items: right;
    border: none;
    width : 20%;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.left-pane .delete-button:hover {
    background-color: #cc0000dd; 
}

#subtask-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

#subtask-list li {
    display: flex; 
    margin-left: 30px;
    align-items: center; 
    justify-content: space-between;
    padding: 5px 0; 
    border-bottom: 1px solid #ddd;
}

#subtask-list li:last-child {
    border-bottom: none; /* Remove bottom border for the last subtask */
}

#subtask-list button.delete-button {
    background-color: #ff4136; /* Red background color for delete buttons */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#subtask-list button.delete-button:hover {
    background-color: #d63031; /* Darker red on hover */
}


/* -------------------------------------------Right pane-------------------------------------------*/

.right-pane {
    position: relative;
    width: 65%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    height : auto;
    overflow:scroll;
}

.right-pane h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333; 
}

hr
{
    margin-bottom: 20px;
}






/*-----------------------------------------------------Modal-------------------------------------*/

.modal
{
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    z-index: 1000;
}

.modal-content {
    margin-top: 30px;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;

}

.close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

#page-title
{
    margin-bottom: 30px;
}

input[type="text"] ,textarea
{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button 
{
    display: inline-block;
    margin: 10px auto;
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

#page-text
{
    position: relative;
    height: 150px;
}


#editor {
    margin-top: 10px;
}

textarea {
    height: 150px; 
}

#save-page-btn {
    background-color: #49ab7f; 
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#save-page-btn:hover {
    background-color: #45a049; 
}


  
